{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="form-container">
  <img src="{% static 'img/logo_pl.png' %}" id="logo" alt="logo UAM" aria-hidden="true">
  <div class="form-form">
<form method="post" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="input-box"> 
    <input
      id="id_login"
      type="email"
      name="login"
      placeholder="Adres e-mail"
      autocomplete="email"
      required
    >
  </div>
  <div class="input-box">
    <input
      id="id_password"
      type="password"
      name="password"
      placeholder="Hasło"
      autocomplete="current-password"
      required
    >
  </div>
  <button type="submit" class="form-button">Zaloguj się</button>
  <div class="remember-me">
    <label for="id_remember">Zapamiętaj mnie:</label>
    <input type="checkbox" name="remember" id="id_remember" />
  </div>
  <a href="{% url 'account_signup' %}">Zarejestruj się</a> 
  <a href="{% url 'account_reset_password' %}">Reset hasła</a> 

  {% if form.errors %}
    {% for key, errors in form.errors.items %}
      {% for error in errors %}
        <p>
          {{ error }}
        </p>
      {% endfor %}
    {% endfor %}
  {% endif %}
</form>
</div>
</div>
{% endblock content %}
