{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="form-container">
  <img src="{% static 'img/logo_pl.png' %}" id="logo" alt="logo UAM" aria-hidden="true">
  <div class="form-form">
<form method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <div class="input-box">
    <input
      type="email"
      name="email"
      placeholder="Adres e-mail"
      autocomplete="email"
      maxlength="254"
      required=""
      id="id_email"
      required
    />
  </div>

  <div class="input-box">
    <input
      type="password"
      name="password1"
      placeholder="Hasło"
      autocomplete="new-password"
      required=""
      id="id_password1"
      required
    />
  </div>
  
  <div class="input-box">
    <input
      type="password"
      name="password2"
      placeholder="Powtórz hasło"
      autocomplete="new-password"
      required=""
      id="id_password2"
      required
    />
  </div>
  <div class="input-box">
    <label class="accept-terms">
    <a href="{% url 'terms_conditions' %}" title="regulamin">Akceptuje regulamin</a>
    <input
      type="checkbox"
      required
    />
    </label>
  </div>
  
  <button type="submit" class="form-button">Zarejestruj się</button> 
    <a href="{% url 'account_login' %}">Zaloguj się</a>.
</form>

{% if form.errors.password1 %}
      {% for error in form.errors.password1 %}
          {{error }}
      {% endfor %}
  {% endif %}
</div>
</div>
{% endblock content %}
