{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="meeting-detail">
<form method="post">
    {% csrf_token %}
    <img src="{% static 'img/logo_pl.png' %}" id="logo" alt="logo UAM" aria-hidden="true">
    <div class="rowedit"><p><strong>Nazwa spotkania:</strong> <br><input type="text" name="name_pl" value={{ meeting.name_pl }} maxlength="255" required id="id_name_pl"></p>
    <p><strong>Meeting name:</strong> <br><input type="text" name="name_en" value={{ meeting.name_en }} maxlength="255" required id="id_name_en"></p></div>
    <p><strong>Prowadzacy:</strong> <br>{{ meeting.lecturers }}</p>
    {{meeting.end_time}}
    <div class="rowedit"><p><strong>Czas rozpoczęcia:</strong> <br><input type="datetime-local" name="start_time" value={{ meeting.start_time|date:'Y-m-d\\TH:i' }} required id="id_start_time"></p>
    <p><strong>Czas zakończenia:</strong> <br><input type="datetime-local" name="end_time" value={{ meeting.end_time|date:'Y-m-d\\TH:i' }} required id="id_end_time"></p></div>
    <p><strong>Opis:</strong> <br>{{ meeting.description }}</p>
    <p><strong>Pokój:</strong> <br>{{ meeting.room }}</p>
    <p><strong>Liczba miejsc:</strong> <br>{{ meeting.capacity }}</p>
    <button type="submit" class="form-button">Edytuj wydarzenie</button>
</form>
</div>

{% endblock content %}
