{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="meeting-detail">
    <img src="{% static 'img/logo_pl.png' %}" id="logo" alt="logo UAM" aria-hidden="true">

    <p><strong>Nazwa Wydarzenia:</strong> <br>
        {{ event.name }}
    </p>
    
    <p><strong>Prowadzący:</strong><br>
        {{ event.organizer }}
    </p>

    <div class="color-display"><strong>Kolor:</strong> 
        <span style="display: inline-block; width: 20px; height: 20px; background-color: {{ event.color }}; border-radius: 50%;"></span>
    </div>
    
    <div class="meeting-detail-row">
        <p><strong>Czas rozpoczęcia:</strong> <br>{{ event.start_date }}</p>
        <p><strong>Czas zakończenia:</strong> <br>{{ event.end_date }}</p>
    </div>

    <div class="related-meetings">
        <h3>Powiązane spotkania</h3>
        {% if meetings %}
            <ul>
                {% for meeting in meetings %}
                    <li>
                        <strong>Nazwa spotkania:</strong> <a href="{% url 'meeting_details' meeting_id=meeting.id %}">{{ meeting.name_pl|default:"Brak" }}</a><br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p><em>Brak powiązanych spotkań z tym wydarzeniem.</em></p>
        {% endif %}
    </div>
</div>

{% endblock content %}
