{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="meeting-detail">
    <img src="{% static 'img/logo_pl.png' %}" id="logo" alt="logo UAM" aria-hidden="true">
    <div class="row"><p><strong>Nazwa spotkania:</strong> <br>{{ meeting.name_pl }}</p>
    <p><strong>Meeting name:</strong> <br>{{ meeting.name_en }}</p></div>
    <p><strong>Prowadzacy:</strong> <br>{{ meeting.lecturers }}</p>
    <div class="row"><p><strong>Czas rozpoczęcia:</strong> <br>{{ meeting.start_time }}</p>
    <p><strong>Czas zakończenia:</strong> <br>{{ meeting.end_time }}</p></div>
    <p><strong>Opis:</strong> <br>{{ meeting.description }}</p>
    <p><strong>Pokój:</strong> <br>{{ meeting.room }}</p>
    <p><strong>Liczba miejsc:</strong> <br>{{ meeting.capacity }}</p>
</div>

{% endblock content %}
