{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="meeting-detail">
    <img src="{% static 'img/logo_pl.png' %}" id="logo" alt="logo UAM" aria-hidden="true">

    <div class="meeting-detail-row">
        <p><strong>Nazwa spotkania:</strong> <br>{{ meeting.name_pl }}</p>
        <p><strong>Meeting name:</strong> <br>{{ meeting.name_en }}</p>
    </div>
    
    <p><strong>Prowadzący:</strong> 
        <br>
        {% for lecturer in meeting.lecturers.all %}
            {{ lecturer.first_name }} {{ lecturer.last_name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Brak prowadzących
        {% endfor %}
    </p>
    
    <div class="meeting-detail-row">
        <p><strong>Czas rozpoczęcia:</strong> <br>{{ meeting.start_time }}</p>
        <p><strong>Czas zakończenia:</strong> <br>{{ meeting.end_time }}</p>
    </div>

    <p><strong>Opis:</strong> <br>{{ meeting.description|default:"Brak opisu" }}</p>

    <p><strong>Pokój:</strong> 
        <br>
        {% if meeting.room %}
            {{ meeting.room.room_number }}
        {% else %}
            Brak
        {% endif %}
    </p>
    
    <p><strong>Budynek:</strong> 
        <br>
        {% if meeting.room %}
            {{ meeting.room.building_name_pl|default:"Brak" }}
        {% else %}
            Brak
        {% endif %}
    </p>

    <p><strong>Liczba miejsc:</strong> <br>{{ meeting.capacity|default:"Brak" }}</p>
    
    <p><strong>Kolor:</strong> 
        <span style="display: inline-block; width: 20px; height: 20px; background-color: {{ meeting.color }}; border-radius: 50%;"></span>
    </p>
    
    <p><strong>Zaktualizowane:</strong> <br>{{ meeting.is_updated|yesno:"Tak,Nie" }}</p>
    
    {% if event %}
        <hr>
        <h3>Szczegóły Wydarzenia</h3>
        <p><strong>Nazwa wydarzenia:</strong> <br>{{ event.name|default:"Brak" }}</p>
        <p><strong>Typ wydarzenia:</strong> <br>{{ event.get_event_type_display|default:"Brak" }}</p>
        <p><strong>Opis wydarzenia:</strong> <br>{{ event.description|default:"Brak" }}</p>
        <p><strong>Data rozpoczęcia wydarzenia:</strong> <br>{{ event.start_date|default:"Brak" }}</p>
        <p><strong>Data zakończenia wydarzenia:</strong> <br>{{ event.end_date|default:"Brak" }}</p>
        <p><strong>Organizator:</strong> 
            <br>
            {% if event.organizer %}
                {{ event.organizer.first_name }} {{ event.organizer.last_name }}
            {% else %}
                Brak organizatora
            {% endif %}
        </p>
    {% else %}
        <p><em>To spotkanie nie jest przypisane do żadnego wydarzenia.</em></p>
    {% endif %}
</div>

{% endblock content %}
