{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="form-container">
    <img src="{% static 'img/logo_pl.png' %}" id="logo" alt="logo UAM" aria-hidden="true">

    <h1>Dodaj nowe wydarzenie</h1>
    <p>Wprowadź szczegóły wydarzenia poniżej, aby dodać nowe wydarzenie.</p>

    <div class="form-form">
        <form method="post">
            {% csrf_token %}
            
            <!-- Event Name -->
            <div class="input-box">
                <input type="text" name="name" placeholder="Nazwa wydarzenia" maxlength="50" required id="id_name">
            </div>
         
            <!-- Start Date -->
            <div class="input-box">
                <input type="datetime-local" name="start_date" placeholder="Data rozpoczęcia" required id="id_start_date">
            </div>
            
            <!-- End Date -->
            <div class="input-box">
                <input type="datetime-local" name="end_date" placeholder="Data zakończenia" required id="id_end_date">
            </div>

            <!-- Description -->
            <div class="input-box">
                <textarea name="description" placeholder="Opis wydarzenia" id="id_description" 
                    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            </div>

            <!-- Group Selection -->
            <div class="input-box">
                <label for="id_group">Grupy:</label>
                <select id="event-groups" name="eventgroups[]" multiple>
                    {% for group in groups %}
                    <option value="{{ group.id }}"
                            {% if group in event.assigned_groups.all %}selected{% endif %}>
                        {{ group.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-box">
                <label for="id_organizer">Wybierz organizatorów (Organizatorów/Wykładowców):</label>
                <select name="organizer" id="id_organizer" multiple>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }} ({{ user.user_type }})</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Color Picker -->
            <div class="input-box">
                <label for="id_color">Wybierz kolor:</label>
                <input type="color" name="color" value="#0f2d66" id="id_color">
            </div>
            
            <!-- Submit Button -->
            <button type="submit" class="form-button">Dodaj wydarzenie</button>
        </form>
    </div>
</div>

{% endblock %}