{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/rasp.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <h1>Harmonogram Sali {{ room.room_number }}</h1>

    <div class="container">
        <div class="weather"></div>

        <!-- 2 spotkania z najbliższą datą zakończenia -->
        {% if soonest_ending_meetings %}
            {% for meeting in soonest_ending_meetings %}
                <div class="meeting" style="background: {{ meeting.color }};">
                    <div class="meeting-name">
                        {{ meeting.name_pl|default:"Brak tytułu" }}
                    </div>

                    <div class="temperature"
                         style="background-image: url('{% if meeting.event and meeting.event.logo %}{{ meeting.event.logo.url }}{% else %}{% static 'img/logo.png' %}{% endif %}');
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;">
                    </div>

                    <div class="meeting-footer">
                        <p>Prowadzący:<strong>
                            {% for lecturer in meeting.lecturers.all %}
                                {{ lecturer.first_name }} {{ lecturer.last_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</strong>
                        </p>
                    </div>

                    <p class="description">
                        {{ meeting.description|default:"Brak opisu" }}
                    </p>
                    <div class="timer"></div>
                    <div class="extra">
                        <div class="info">
                            <h5>Rozpoczęcie</h5>
                            <p>{{ meeting.start_time|date:"d.m.Y H:i" }}</p>
                        </div>
                        <div class="info">
                            <h5>Zakończenie</h5>
                            <p>{{ meeting.end_time|date:"d.m.Y H:i" }}</p>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p class="no-meeting">Brak spotkań w najbliższym czasie.</p>
        {% endif %}
    </div>

    <script src="{% static 'js/rasp.js' %}"></script>
</body>
</html>
