{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/rasp.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <title>Harmonogram Sali {{ room.room_number }}</title>
</head>
<body>

    <!-- Clock -->

    <h1>Harmonogram Sali {{ room.room_number }}</h1>
    <div class="container">
        <div class="weather"></div>
                <!-- Current Meeting -->
                {% if current_meeting %}
                    <div class="meeting current" style="background:linear-gradient(0deg, {{ current_meeting.color }} 0%, #fff 40%);">
                        <div class="meeting-header">Obecne Spotkanie</div>
                        <div class="meeting-content">
                            <h2>{{ current_meeting.name_pl|default:"Brak tytułu" }}</h2>
                            <div id="countdown-current"></div>
                            <p><strong>Opis:</strong> {{ current_meeting.description|default:"Brak opisu" }}</p>


                            <p><strong>Czas spotkaia:</strong><br> 
                                <span class="meeting-time meeting-time-current">{{ current_meeting.start_time|date:"d.m.Y H:i" }} - {{ current_meeting.end_time|date:"d.m.Y H:i" }}</span></p>


                            <p><strong>Wykładowcy:</strong> 
                                {% for lecturer in current_meeting.lecturers.all %}
                                    {{ lecturer.first_name }} {{ lecturer.last_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        {% if current_meeting.event %}
                            <div class="meeting-event">
                                <h3>Spotkanie w ramach wydarzenia {{ current_meeting.event.name }}</h3>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <!-- Next Meeting -->
                {% if next_meeting %}
                    <div class="meeting next" style="background:linear-gradient(0deg, {{ next_meeting.color }} 0%, #fff 40%);">
                        <div class="meeting-header">Następne Spotkanie</div>
                        <div class="meeting-content">
                            <h2>{{ next_meeting.name_pl|default:"Brak tytułu" }}</h2>
                            <div id="countdown-next"></div>
                            <p><strong>Opis:</strong> {{ next_meeting.description|default:"Brak opisu" }}</p>

                            <p><strong>Czas spotkania:</strong><br><span class="meeting-time meeting-time-next">{{ next_meeting.start_time|date:"d.m.Y H:i" }} - {{ next_meeting.end_time|date:"d.m.Y H:i" }}</span></p>

                            <p><strong>Wykładowcy:</strong> 
                                {% for lecturer in next_meeting.lecturers.all %}
                                    {{ lecturer.first_name }} {{ lecturer.last_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        {% if next_meeting.event %}
                            <div class="meeting-event">
                                <h3>Szczegóły Wydarzenia</h3>
                                <p><strong>Nazwa:</strong> {{ next_meeting.event.name }}</p>
                                <p><strong>Opis:</strong> {{ next_meeting.event.description }}</p>
                            </div>
                        {% else %}
                        <div class="meeting-event">
                            <h3>Spotkanie nie jest podpięte do żadnego wydarzenia</h3>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <!-- No Meetings -->
            {% if not current_meeting and not next_meeting %}
                <p class="no-meeting">Brak spotkań dla tej sali.</p>
            {% endif %}
            <script src="{% static 'js/rasp.js' %}"></script>
    </body>
</html>
