{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1>Mój Profil</h1>
    <!-- Sekcja wyświetlania zdjęcia profilowego u góry strony -->
    {% comment %} <div class="profile-picture">
        {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="width: 492px; height: 633px;">
        {% else %}
            <p><em>Brak zdjęcia profilowego.</em></p>
        {% endif %}
    </div> {% endcomment %}

    <!-- Formularz do aktualizacji danych i zdjęcia profilowego -->
    <form method="post" enctype="multipart/form-data" class="form-form">
        {% csrf_token %}

        <h2>Aktualizuj dane:</h2>
        <div class="form-section">
            <div class="input-box">
                <label for="id_first_name">Imie:</label>
                <input type="text" name="first_name" maxlength="50" id="id_first_name" value="{{ user.first_name }}">
            </div>

            <div class="input-box">
                <label for="id_last_name">Nazwisko:</label>
                <input type="text" name="last_name" maxlength="50" id="id_last_name" value="{{ user.last_name }}">
            </div>
{% comment %}
            <div class="input-box">
                <label for="id_profile_picture">Zdjęcie Profilowe:</label>
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
            </div> {% endcomment %}
        </div>
        <button type="submit" class="form-button">Zaktualizuj Profil</button>
    </form>

    <hr>

    <!-- Formularz do złożenia prośby o zmianę typu konta -->
    <form method="post" class="form-form">
        {% csrf_token %}

        <h2>Poproś o zmianę typu konta:</h2>
        <div class="form-section">
            <div class="input-box">
                <label for="id_requested_user_type">Nowy typ konta:</label>
                <select name="requested_user_type" id="id_requested_user_type">
                    <option value="Student">Student</option>
                    <option value="Lecturer">Wykładowca</option>
                    <option value="Organizer">Organizator</option>
                </select>
            </div>

            <div class="input-box">
                <label for="id_reason">Powód zmiany typu konta:</label>
                <textarea name="reason" cols="40" rows="10" required id="id_reason"></textarea>
            </div>
        </div>
        <button type="submit" class="form-button">Zgłoś prośbę</button>
    </form>
</div>
{% endblock %}
