{% extends "base.html" %}
{% block content %}
{% load static %}

<h1>Change Password</h1>
<form method="post" action="/accounts/password/change/">
  <input
    type="hidden"
    name="csrfmiddlewaretoken"
    value="4SKQVTbtkCj7GaFCFuMbZV9Llz4csLdinydiZuJCSIyWsuVG9VStL3eDcoJfP9hv"
  />

  <p>
    <label for="id_oldpassword">Current Password:</label>
    <input
      type="password"
      name="oldpassword"
      placeholder="Current Password"
      autocomplete="current-password"
      required=""
      id="id_oldpassword"
    />
  </p>

  <p>
    <label for="id_password1">New Password:</label>
    <input
      type="password"
      name="password1"
      placeholder="New Password"
      autocomplete="new-password"
      required=""
      id="id_password1"
    />

    <span class="helptext"></span>
  </p>
  <ul>
    <li>Your password can’t be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
    <li>Your password can’t be entirely numeric.</li>
  </ul>

  <p></p>

  <p>
    <label for="id_password2">New Password (again):</label>
    <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2" />
  </p>

  <button type="submit">Change Password</button>

  <a href="/password/reset/">Forgot Password?</a>
</form>

{% endblock content %}
