{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="meeting-detail">
<h1 style="text-align:center;">Moje grupy</h1>

<h2 >Grupy, do których należysz:</h2>
<ul>
    {% for group in my_groups %}
    <li>
        <a href="{% url 'group_detail' group.id %}">{{ group.name }}</a> - {{ group.description }}
    </li>
    {% empty %}
    <li>Nie należysz do żadnej grupy.</li>
    {% endfor %}
</ul>

<h2>Grupy, w których jesteś administratorem:</h2>
<ul>
    {% for group in admin_groups %}
    <li>
        <a href="{% url 'group_detail' group.id %}">{{ group.name }}</a> - {{ group.description }}
    </li>
    {% empty %}
    <li>Nie administrujesz żadną grupą.</li>
    {% endfor %}
</ul>
</div>
{% endblock %}
