{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-container">
    <h1>Szukaj Sale</h1>
    <form method="get" class="form-form" id="search-form">
        <div class="input-box">
            <label for="room_number">Numer sali:</label>
            <input type="text" name="room_number" id="room_number" placeholder="Wprowadź nazwę sali">
        </div>
        <div class="input-box">
            <label for="attribute">Wyposażenie:</label>
            <select name="attribute" id="attribute" multiple>
                {% for choice in filter.form.fields.attribute.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-box">
            <label for="floor">Piętro:</label>
            <select name="floor" id="floor">
                <option value="parter">Parter</option>
                <option value="pietro1">Piętro 1</option>
                <option value="pietro2">Piętro 2</option>
            </select>
        </div>
        <button type="submit" class="form-button">Szukaj</button>
    </form>
</div>


{% endblock %}
