{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-container">
    <h1>Szukaj Spotkań</h1>
    <form method="get" class="form-form">
        <div class="input-box">
            <label for="name">Nazwa spotkania:</label>
            <input type="text" name="name" id="name" placeholder="Wprowadź nazwę spotkania">
        </div>
        <div class="input-box">
            <label for="start_date">Data spotkania:</label>
            <input type="date" name="start_date" id="start_date">
        </div>
        <div class="input-box">
            <label for="start_time">Godzina rozpoczęcia:</label>
            <input type="time" name="start_time" id="start_time">
        </div>
        <div class="input-box">
            <label for="end_date">Data zakończenia:</label>
            <input type="date" name="end_date" id="end_date">
        </div>
        <div class="input-box">
            <label for="end_time">Godzina zakończenia:</label>
            <input type="time" name="end_time" id="end_time">
        </div>
        <div class="input-box">
            <label for="lecturer">Prowadzący:</label>
            <input type="text" name="lecturer" id="lecturer" placeholder="Wprowadź nazwisko prowadzącego">
        </div>
        <div class="input-box">
            <label for="room">Sala:</label>
            <input type="text" name="room" id="room" placeholder="Wprowadź numer sali">
        </div>
        <div class="input-box">
            <label for="meeting_type">Typ spotkania:</label>
            <select name="meeting_type" id="meeting_type">
                <option value="">-- Wybierz --</option>
                {% for choice in filter.form.meeting_type.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-box">
            <label for="event">Wydarzenie:</label>
            <select name="event" id="event">
                <option value="">-- Wybierz --</option>
                {% for event in filter.form.event.field.queryset %}
                <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="form-button">Szukaj</button>
    </form>

</div>

{% if filter.qs %}

<div class="calendar-menu">
    <div class="calendar-buttons">
        <button id="toggleView" class="form-button">Zmień widok</button>
        <button id="goToToday" class="form-button">Dzisiaj</button>
    </div>
    <span class="calendar-title">Kalendarz według fitrów</span>
    <div class="calendar-navigation">
        <button id="arrow-left"></button>
        <span id="dateRange"></span>
        <button id="arrow-right"></button>
    </div>
</div>

<div class="weekdays">
    <div>Poniedziałek</div>
    <div>Wtorek</div>
    <div>Środa</div>
    <div>Czwartek</div>
    <div>Piątek</div>
    <div>Sobota</div>
    <div>Niedziela</div>
</div>

<div id="calendar" class="monthly"></div>


<table class="data-table tabela" display="none">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Prowadzący</th>
            <th>Sala</th>
            <th>Data spotkania</th>
            <th>Godzina rozpoczęcia</th>
            <th>Godzina zakończenia</th>
            <th>Wydarzenie</th>
        </tr>
    </thead>
    <tbody>
        {% for meeting in filter.qs %}
        <tr>
            <td>
                <a href="{% url 'meeting_details' meeting.id %}" class="link linkusiek">
                    {{ meeting.name_pl }}
                </a>
            </td>
            <td>
                {% for lecturer in meeting.lecturers.all %}
                    {{ lecturer.first_name }} {{ lecturer.last_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ meeting.room.room_number }}</td>
            <td>{{ meeting.start_time|date:"Y-m-d" }}</td>
            <td>{{ meeting.start_time|time:"H:i" }}</td>
            <td>{{ meeting.end_time|date:"Y-m-d" }}</td>
            <td>{{ meeting.end_time|time:"H:i" }}</td>
            <td>{{ meeting.event.name }}</td>
            <td display="none">{{ meeting.event.id }}</td>
            <td display="none">{{ meeting.color }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p class="no-results">Nie znaleziono sal pasujących do kryteriów wyszukiwania.</p>
{% endif %}

<script src="{% static 'js/fetch_meetings_table.js' %}" defer></script>
<script src="{% static 'js/homepage_calendar.js' %}" defer></script>
{% endblock %}
