{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-container">
    <h1>Wyszukaj Wolne Sale</h1>
    <form method="get" class="form-form">
        <div class="input-box">
            <label for="start_date">Data początkowa:</label>
            <input type="date" name="start_date" id="start_date">
        </div>
        <div class="input-box">
            <label for="start_time">Godzina początkowa:</label>
            <input type="time" name="start_time" id="start_time">
        </div>
        <div class="input-box">
            <label for="end_date">Data końcowa:</label>
            <input type="date" name="end_date" id="end_date">
        </div>
        <div class="input-box">
            <label for="end_time">Godzina końcowa:</label>
            <input type="time" name="end_time" id="end_time">
        </div>
        <div class="input-box">
            <label for="attribute">Wyposażenie:</label>
            <select name="attribute" id="attribute" multiple>
                {% for choice in filter.form.fields.attribute.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="form-button">Szukaj</button>
    </form>
</div>



<script src="{% static 'js/search_freerooms.js' %}"></script>
{% endblock %}
