{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-container">
    <h1>Szukaj Wydarzeń</h1>
    <form method="get" class="form-form">
        <div class="input-box">
            <label for="name">Nazwa wydarzenia:</label>
            <input type="text" name="name" id="name" placeholder="Wprowadź nazwę wydarzenia">
        </div>
        <div class="input-box">
            <label for="start_date">Data rozpoczęcia:</label>
            <input type="date" name="start_date" id="start_date">
        </div>
        <div class="input-box">
            <label for="start_time">Godzina rozpoczęcia:</label>
            <input type="time" name="start_time" id="start_time">
        </div>
        <div class="input-box">
            <label for="end_date">Data zakończenia:</label>
            <input type="date" name="end_date" id="end_date">
        </div>
        <div class="input-box">
            <label for="end_time">Godzina zakończenia:</label>
            <input type="time" name="end_time" id="end_time">
        </div>
        <div class="input-box">
            <label for="organizer">Organizator:</label>
            <input type="text" name="organizer" id="organizer" placeholder="Wprowadź nazwę organizatora">
        </div>
        <button type="submit" class="form-button">Szukaj</button>
    </form>
</div>

{% if filter.qs %}
<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Czas rozpoczęcia</th>
            <th>Czas zakończenia</th>
            <th>Organizator</th>
        </tr>
    </thead>
    <tbody>
        {% for event in filter.qs %}
        <tr>
            <td style="display:none">{{ event.id }}</td>
            <td>
                <a href="{% url 'event_details' event.id %}">
                    {{ event.name }}
                </a>
            </td>
            <td>{{ event.description }}</td>
            <td>{{ event.start_date }}</td>
            <td>{{ event.end_date }}</td>
            <td>
                {{ event.organizer.first_name }} {{ event.organizer.last_name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="no-results">Brak dostępnych sal w podanym przedziale czasu.</p>
{% endif %}
{% endblock %}
