{% extends "base.html" %}
{% block content %}
<style>
  .plan-container {
      position: relative;
      width: 800px;
      margin: auto;
  }
  .plan-image {
      position: relative;
  }
  .plan-image img {
      width: 100%;
      display: block;
  }
  .plan-image svg {
      position: absolute;
      top: 0;
      left: 0;
  }
  .room-shape {
      fill: green; /* Domyślny kolor dla wolnych sal */
      stroke: black;
      stroke-width: 1;
      cursor: pointer; /* Wskazuje, że figura jest klikalna */
  }
  .room-shape.busy {
      fill: red; /* Kolor dla zajętych sal */
  }
  .room-label {
    font-size: 14px; /* Większy rozmiar tekstu */
    fill: #000000; /* Czarny kolor dla lepszej widoczności */
    text-anchor: middle;
    dominant-baseline: central;
    font-weight: bold;
}

  title {
      fill: black; /* Kolor dla tytułu */
  }
</style>

<div class="plan-container">
    {% if plan_image %}
    <div class="plan-image">
        <img src="{{ plan_image }}" alt="Plan piętra">
        <svg width="800" height="600">
            {% for plan in plans %}
            {% for shape in plan.svg_points %}
            {% if shape.type == "polygon" %}
            <!-- Kształt wielokąta -->
            <a href="{% if plan.current_meeting_id %}{% url 'meeting_details' meeting_id=plan.current_meeting_id %}{% else %}#{% endif %}">
                <polygon class="room-shape {% if plan.is_busy %}busy{% else %}free{% endif %}"
                         points="{{ shape.points }}">
                </polygon>
            </a>
            <!-- Nazwa sali -->
            <text class="room-label"
                  x="{{ shape.label_x }}"
                  y="{{ shape.label_y }}">
                {{ plan.room.room_number }}
            </text>
            {% elif shape.type == "rect" %}
            <!-- Kształt prostokąta -->
            <a href="{% if plan.current_meeting_id %}{% url 'meeting_details' meeting_id=plan.current_meeting_id %}{% else %}#{% endif %}">
                <rect class="room-shape {% if plan.is_busy %}busy{% else %}free{% endif %}"
                      x="{{ shape.x }}" y="{{ shape.y }}"
                      width="{{ shape.width }}" height="{{ shape.height }}">
                </rect>
            </a>
            <!-- Nazwa sali -->
            <text class="room-label"
                  x="{{ shape.label_x }}"
                  y="{{ shape.label_y }}">
                {{ plan.room.room_number }}
            </text>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </svg>
    </div>
    {% else %}
    <p>Brak planu dla tego piętra.</p>
    {% endif %}
</div>
{% endblock %}
