{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="calendar-menu">
  <button id="toggleView" class="form-button">Zmień widok</button>
  <span class="calendar-title">Twój kalendarz</span>
  <div class="calendar-navigation">
      <button id="arrow-left"></button>
      <span id="dateRange"></span>
      <button id="arrow-right"></button>
  </div>
</div>

    <!-- Wiersz z dniami tygodnia -->
    <div class="weekdays">
        <div>Poniedziałek</div>
        <div>Wtorek</div>
        <div>Środa</div>
        <div>Czwartek</div>
        <div>Piątek</div>
        <div>Sobota</div>
        <div>Niedziela</div>
    </div>

    <div id="calendar" class="monthly"></div>


<script src="{% static 'js/homepage_calendar.js' %}"></script>


{% endblock content %}
