{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/manual.css' %}">

<div class="form-container manual-container">
    <ul id="slides">
      <li class="slide showing">
        <span>Rejestracja konta<br></span>
        <img src="{% static 'img/manual_photos/1.png' %}" alt="Tworzenie konta" class="manual-photo">
        <span><br>Po wejściu w podstronę rejestracyjną:
            <br>1) Wprowadź swój adres email
            <br>2) Wprowadź mocne hasło
            <br>3) Zaakceptuj regulamin
            <br>4) Zarejestruj się
            <br>5) W przeciągu kilku minut powinien się pojawić na twojej skrzynce pocztowej mail z linkiem aktywacyjnym
            <br>6) Po użyciu linku z punktu 4 można się normalnie logować</span>
      </li>
      <li class="slide showing">
        <span>Zmiana typu konta<br></span>
        <img src="{% static 'img/manual_photos/2.png' %}" alt="Tworzenie konta" class="manual-photo">
        <span><br>Po wejściu w podstronę rejestracyjną:
            <br>1) Wejdź w swój profil użytkownika - użytkownik musi mieć uzupełnione imie i nazwisko
            <br>2) Wybierz nowy typ konta oraz uzasadnij zmianę
            <br>3) Wyślij wniosek
            <br>4) Czekaj na odpowiedź</span>
      </li>
      <li class="slide">
        test 3
      </li>
    </ul>
    <div class="buttons">
      <button class="controls" id="previous">&lt;</button>  
      <button class="controls" id="next">&gt;</button>
    </div>
  </div>

  <script>
    var slides = document.querySelectorAll('#slides .slide');
    var currentSlide = 0;
    
    var next = document.getElementById('next');
    var previous = document.getElementById('previous');
    
    function updateButtons() {
        if (currentSlide === 0) {
            previous.classList.add('inactive');
        } else {
            previous.classList.remove('inactive');
        }
    
        if (currentSlide === slides.length - 1) {
            next.classList.add('inactive');
        } else {
            next.classList.remove('inactive');
        }
    }
    
    function showPopup(message) {
        var popup = document.createElement('div');
        popup.className = 'popup-message';
        popup.innerText = message;
    
        var manualContainer = document.querySelector('.manual-container');
        
        popup.style.position = 'absolute';
        popup.style.bottom = '75px';
        popup.style.right = '8px';
        manualContainer.appendChild(popup);
    
        setTimeout(() => {
            popup.remove();
        }, 2000);
    }
    
    function nextSlide() {
        if (currentSlide < slides.length - 1) {
            goToSlide(currentSlide + 1);
        } else {
            showPopup("Jesteś na ostatnim slajdzie.", next);
        }
    }
    
    function previousSlide() {
        if (currentSlide > 0) {
            goToSlide(currentSlide - 1);
        } else {
            showPopup("Jesteś na pierwszym slajdzie.", previous);
        }
    }
    
    function goToSlide(n) {
        slides.forEach((slide, index) => {
            const offset = index - n;
            slide.style.transform = `translateX(${offset * 100}%)`;
            slide.classList.remove('showing');
        });
    
        currentSlide = n;
    
        slides[currentSlide].classList.add('showing');
    
        updateButtons();
    }
    
    slides.forEach((slide, index) => {
        slide.style.transform = `translateX(${index * 100}%)`;
    });
    updateButtons();
    
    next.onclick = function () {
        if (next.classList.contains('inactive')) {
            showPopup("Jesteś na ostatnim slajdzie.", next);
        } else {
            nextSlide();
        }
    };
    
    previous.onclick = function () {
        if (previous.classList.contains('inactive')) {
            showPopup("Jesteś na pierwszym slajdzie.", previous);
        } else {
            previousSlide();
        }
    };
</script>
{% endblock content %}
