body {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  min-height: 100%;
  height: unset;
  font-size: 16px;
  line-height: 1.4;
  font-family: Lato, Roboto, system-ui, sans-serif;
  text-rendering: optimizelegibility;
  color: black;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(15, 45, 102);
  transition: 0.2s;
}
a.event:hover {
  font-weight: 750;
  padding: 5px 2px;
}

#logo {
  display: block;
  margin: 50px auto 30px;
  max-width: min(90%, 400px);
  max-height: 150px;
}

.header {
  background-color: rgba(15, 45, 102, 0.98);
  z-index: 9999;
  display: block;
  color: white;
  line-height: 1.3;
}

.header-container {
  margin: 0 auto;
  max-width: 768px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.header-container a {
  color: white;
}
.header-container .left {
  display: flex;
  align-items: center;
  min-height: 72px;
}

nav {
  width: 100%;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
nav ul li a {
  text-decoration: none;
  padding: 26px 15px;
  display: block;
  position: relative;
  border-radius: 0px 5px 5px 0px;
}
nav ul li a::after {
  content: "";
  background: white;
  height: 2px;
  width: 0%;
  position: absolute;
  left: 50%;
  transform: translate(0%, -50%);
  bottom: 22px;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
nav ul.submenu li a::after {
  bottom: 6px;
}

nav ul li:hover .submenu {
  opacity: 1;
  top: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.submenu li {
  margin: 10px;
}
.submenu li a {
  padding: 10px 15px;
  white-space: nowrap;
}
.submenu li a:hover {
  color: white;
}

.submenu {
  border-top: 1px solid white;
  display: none;
  background-color: rgb(15, 45, 102);
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.form-container {
  width: 40rem;
  max-width: 100%;
  margin: 2rem auto;
  box-shadow: 0px 0px 16px -5px rgb(66, 68, 90);
  border-radius: 24px;
  padding: 8px;
  text-align: center;
  transition: 0.2s;
}
.form-container:hover {
  box-shadow: 0px 0px 24px -5px rgb(66, 68, 90);
}
.form-container form {
  display: block;
  margin-top: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container .form-form {
  padding: 0 1rem;
  margin: 0 auto 1rem;
  width: 100%;
  max-width: 28rem;
  display: block;
  border-width: 0;
  box-sizing: border-box;
}
.form-container.form-segments {
  width: 98%;
  border: 0;
}
.form-container.form-segments form #segments-container .form-form {
  margin: 0 0.5rem 1rem;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.form-form input {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  background: transparent;
}

.form-button {
  margin: 8px auto;
  padding: 0.5rem 2rem;
  color: white;
  background-color: rgb(15, 45, 102);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-height: 48px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 14px;
  border: 0;
}
.form-button:hover {
  background: #018dc4;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 140px;
  margin: 16px auto 8px;
  color: rgb(15, 45, 102);
  transition: 0.3s;
}
.remember-me:hover {
  color: #018dc4;
}
.remember-me label {
  font-size: 14px;
  margin-right: 10px;
}
.remember-me input[type=checkbox] {
  transform: scale(2);
  margin-left: auto;
  width: 5%;
}

form > a {
  font-size: 14px;
}

.form-form select {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.form-form input[type=color] {
  width: 10%;
  height: 48px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 8px;
}
.form-form textarea {
  height: 200px;
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  resize: vertical;
  box-sizing: border-box;
}
.form-form .is_recurring {
  display: flex;
  width: 100%;
  justify-content: center;
}
.form-form .is_recurring input {
  width: auto;
  margin-left: 8px;
}
.form-form .days-selection > .weekdays-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.form-form .days-selection > .weekdays-select label {
  display: flex;
  margin-right: 8px;
}

.form-container.about-page {
  width: 64rem;
}
.form-container.about-page .form-form {
  max-width: 60rem;
}

.calendar-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 1800px;
}
.calendar-menu .calendar-buttons {
  display: flex;
}
.calendar-menu .calendar-buttons button:first-child {
  margin-right: 8px;
}
.calendar-menu .calendar-title {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}
.calendar-menu .calendar-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.calendar-menu .calendar-navigation > button {
  background-color: transparent;
  border: 0;
  color: rgb(15, 45, 102);
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.calendar-menu .calendar-navigation #arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.calendar-menu .calendar-navigation #dateRange {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0px 8px;
  min-width: 216px;
  text-align: center;
}
.calendar-menu .calendar-navigation #arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.monthly {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekly {
  display: flex;
}

.day {
  border: 1px solid #ccc;
  position: relative;
  width: 100%;
  text-align: center;
  min-height: 100px;
}
.day:not(.weekly) {
  padding-top: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6px;
  transition: 0.3s;
}
.day:not(.weekly) > strong {
  position: absolute;
  top: 0px;
  width: 100%;
}
.day:not(.weekly):hover > .events {
  z-index: 99;
}
.day.weekly > strong {
  margin-top: -27px;
}

#calendar {
  max-width: 1800px;
  margin: 0px auto 100px;
  width: 100%;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day.weekly {
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
  height: 1440px;
  display: flex;
  justify-content: center;
}
.day.weekly:nth-last-child(-n+2) {
  background-color: rgba(224, 255, 255, 0.4666666667);
}

.event.weekly {
  background-color: #2675c0;
  color: white;
  padding: 5px;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.day:not(.weekly) .events {
  position: absolute;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: white;
  z-index: 2;
  max-height: 60px;
  top: 32px;
  transition: 0.3s;
}
.day:not(.weekly) .events .event {
  margin-top: 5px;
}
.day:not(.weekly):nth-child(7n-1), .day:not(.weekly):nth-child(7n) {
  background-color: rgba(224, 255, 255, 0.5333333333);
}
.day:not(.weekly):hover .events {
  max-height: 1000px;
}
.day:not(.weekly):not([data-day]) {
  background-color: #f5f5f5;
}

.event {
  background-color: #2675c0;
  color: white;
  padding: 5px;
  position: relative;
}

.hour {
  display: grid;
  grid-template-rows: repeat(48, 30px);
  border-right: 1px solid #ccc;
  position: absolute;
  width: 100%;
  max-width: 1800px;
  z-index: 2;
}

.time-label {
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
}

.hour::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ddd;
}
.hour div {
  border-top: 1px solid #ddd;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
  height: 40px;
  max-width: 1800px;
  margin: 0px auto;
  width: 100%;
}

.weekly .weekdays {
  grid-template-columns: 80px repeat(7, 1fr);
}

.meeting-detail {
  width: 40rem;
  max-width: 100%;
  margin: 2rem auto;
  box-shadow: 0px 0px 16px -5px rgb(66, 68, 90);
  border-radius: 24px;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
  transition: 0.2s;
}
.meeting-detail:hover {
  box-shadow: 0px 0px 24px -5px rgb(66, 68, 90);
}
.meeting-detail > .color-display {
  display: flex;
  align-items: center;
}
.meeting-detail > .color-display > strong {
  margin-right: 6px;
}
.meeting-detail .meeting-detail-row {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.meeting-detail .meeting-detail-row > p {
  width: 50%;
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 16px;
  text-align: left;
  max-width: 1800px;
  text-align: center;
}
table thead tr {
  background-color: #2873ff;
  border-bottom: 2px solid #ddd;
  color: white;
}
table th, table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tbody tr:hover {
  background-color: #f1f1f1;
}
table a {
  font-weight: 500;
  transition: font-weight 0.2s ease-in-out;
  text-align: left;
}
table a:hover {
  font-weight: 600;
}

.tiles_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tiles_container a {
  width: 160px;
  color: white;
  height: 100px;
  background-color: rgb(40, 115, 255);
  margin: 12px;
  display: flex;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  padding-top: 12px;
  border-radius: 12px;
  position: relative;
  margin-top: 48px;
}
.tiles_container a .tile-image {
  position: absolute;
  bottom: 25px;
  left: 15px;
  z-index: 99;
  width: 130px;
  height: 130px;
  border-radius: 65px;
}
.tiles_container a .event-name {
  position: absolute;
  bottom: 2px;
}
.tiles_container a:hover {
  transform: translateY(-16px);
}

.notes-top {
  display: flex;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.notes-top select {
  padding: 8px 8px 8px 16px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
.notes-top .navbar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.notes-top .navbar-buttons a.form-button {
  padding: 15px 32px;
}
.notes-top .navbar-buttons a.form-button:not(:first-child) {
  margin-left: 10px;
}

.kanban-board {
  display: flex;
  max-width: 1800px;
  width: 100%;
  margin: 20px auto;
}
.kanban-board .status-column {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
}
.kanban-board .status-column:not(:first-child) {
  margin-left: 10px;
}
.kanban-board .status-column .status-title {
  margin: 10px 0px 0px;
  text-align: center;
}
.kanban-board .status-column .note-container {
  min-height: 200px;
  transition: height 1s ease-in-out;
}
.kanban-board .status-column .note-container .note {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  cursor: grab;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.kanban-board .status-column .note-container .note:hover {
  transform: scale(1.02);
}
.kanban-board .status-column .note-container .note h1 {
  margin: 0;
  text-align: center;
}
.kanban-board .status-column .note-container .note p {
  margin: 0px;
}
.kanban-board .status-column .note-container .note p.deadline-past > span {
  color: #970000;
}
.kanban-board .status-column .note-container .note .note-description {
  margin-top: 10px;
  min-height: 50px;
}
.kanban-board .status-column .note-container .note .details-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.kanban-board .status-column .note-container .note .details-row .note-edit-link {
  text-decoration: none;
  color: #007bff;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0px 0px 16px -5px rgb(66, 68, 90);
  border-radius: 24px;
  justify-content: center;
  flex-direction: column;
}
.popup .popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup form#add-status-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.popup form#add-status-form input {
  margin-bottom: 8px;
}
.popup form#add-status-form input[type=color] {
  width: 48px;
  margin: 0;
}
.popup div#statuses-list ul {
  padding: 0;
}
.popup div#statuses-list ul .status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.popup .form-button {
  margin-right: 0;
  min-height: 34px;
  min-width: 72px;
  padding: 0;
  border: 0;
}
.popup .form-button.btn-delete-status {
  background-color: red;
  border: 0;
}/*# sourceMappingURL=main.css.map */