{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="notes-top">
    <div class="notes-top-left form-form">
        <form method="GET" action="{% url 'notes_list' %}">
            <div class="input-box">
                <input type="hidden" name="group_id" value="{{ current_group.id }}">
                <select name="group_id" onchange="this.form.submit()">
                    {% for group in groups %}
                        
                    <option value="{{ group.id }}" {% if group == current_group %}selected{% endif %}>
                        {{ group.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="notes-top-center">
        <h1>{{ current_group.name }}</h1>
    </div>
    <div class="notes-top-right">
        <a href="{% url 'add_note' %}?group_id={{ current_group.id }}" class="form-button">Dodaj nową notatkę</a>
        <a id="manage-statuses-btn" class="form-button">Zarządzaj statusami</a>
    </div>
</div>

<div class="kanban-board">
    {% for status in statuses %}
        <div class="status-column" style="background-color: {{ status.color }}50;" data-status-id="{{ status.id }}">
            <h1 class="status-title">{{ status.name }}</h1>
            <div class="note-container">
                {% for note in notes %}
                    {% if note.status.id == status.id %}
                    <div class="note" 
                    style="border: 2px solid {{ note.color }}; background-color: {{ note.color }}95" 
                    draggable="true" 
                    data-note-id="{{ note.id }}">
                        <h1>{{ note.title }}</h1>
                        <p class="note-description">Opis: {{ note.description }}</p>
                        <div class="details-row">
                            <p class="note-deadline {% if note.deadline and note.deadline|date:'U' < now|date:'U' %}deadline-past{% endif %}">Termin: <span>{{ note.deadline }}</span></p>
                            <a href="{% url 'edit_note' note.id %}?group_id={{ current_group.id }}" class="note-edit-link">Edytuj</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<div id="manage-statuses-popup" class="form-form popup ">
    <h1>Zarządzaj statusami</h1>
    <div id="statuses-list">
        <ul>
            {% for status in statuses %}
                <li class="status-item">
                    <span class="status-name" style="color: {{ status.color }};">{{ status.name }}</span>
                    <button class="form-button btn-delete-status" data-status-id="{{ status.id }}" data-group-id="{{ current_group.id }}">Usuń</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <form id="add-status-form" class="add-status-form">
        {% csrf_token %}
        <label for="status-name">Nowy status:</label>
        <input type="text" id="status-name" name="name" required>
        <label for="status-color">Kolor:</label>
        <input type="color" id="status-color" name="color" value="#CCCCCC">

        <div class="popup-btns">
            <button type="submit" class="form-button">Dodaj</button>
    </form>
    <button id="close-popup-btn" class="form-button">Zamknij</button>
        </div>
</div>

<div id="popup-overlay" class="popup-overlay"></div>
<script>
    const CURRENT_GROUP_ID = "{{ current_group.id }}";
</script>
<script src="{% static 'js/notes.js' %}"></script>
{% endblock %}