<header class="header">
  {% if user.is_authenticated %}
  <div class="header-container logged">
    <nav>
      <ul>
          <li><a href="{% url 'home' %}">System rezerwacji UAM</a></li>

          <li>
            <a href="#">Wyszukiwanie</a>
            <ul class="submenu">
                <li><a href="{% url 'search_meetings' %}">Wyszukaj spotkania</a></li>
                <li><a href="{% url 'search_events' %}">Wyszukaj wydarzenia</a></li>
                <li><a href="{% url 'search_rooms' %}">Wyszukaj sale</a></li>
                <li><a href="{% url 'search_free_rooms' %}">Wyszukaj wolne sale</a></li>
            </ul>
          </li>

          <li>
              <a href="{% url 'home' %}">Rezerwacja</a>
              <ul class="submenu">
                  <li><a href="{% url 'new_meeting' %}">Złóż wniosek o spotkanie</a></li>
                  <li><a href="{% url 'new_event' %}">Złóż wniosek o wydarzenie</a></li>
                  <li><a href="{% url 'create_event_with_meetings' %}">Złóż wniosek o wydarzenie ze spotkniem</a></li>
              </ul>
          </li>
          <li>
            <a href="{% url 'notes_list' %}">To-Do</a>
          </li>
          <li>
              <a href="{% url 'home' %}">Profil</a>
              <ul class="submenu">
                <li><a href="{% url 'my_profile' %}">Mój profil</a></li>
                <li><a href="{% url 'my_reservations' %}">Moje rezerwacje</a></li>
                <li><a href="{% url 'account_password_change' %}">Reset hasła</a></li>
                <li><a href="{% url 'account_logout' %}">Wyloguj się</a></li>
              </ul>
          </li>

          <!-- Powiadomienia -->
          <li class="notification-dropdown">
            <a href="{% url 'notification_history' %}">
                {% if header_notifications|length > 0 %}
                    Powiadomienia ({{ header_notifications|length }})
                {% else %}
                    Powiadomienia
                {% endif %}
            </a>
        </li>


    </nav>
  </div>
  {% else %}
  <div class="header-container">
    <div class="left">
      <a href="{% url 'account_login' %}">System rezerwacji UAM</a>
    </div>
    <div class="right">&nbsp</div>
  </div>
  {% endif %}
</header>
