<header class="header">
  {% if user.is_authenticated %}
  <div class="header-container logged">
    <nav>
      <ul>
          <li><a href="{% url 'home' %}">System rezerwacji UAM</a></li>

          <li>
            <a href="#">Wyszukiwanie</a>
            <ul class="submenu">
                <li><a href="{% url 'search_meetings' %}">Wyszukaj spotkania</a></li>
                <li><a href="{% url 'search_events' %}">Wyszukaj wydarzenia</a></li>
                <li><a href="{% url 'search_rooms' %}">Wyszukaj sale</a></li>
                <li><a href="{% url 'search_free_rooms' %}">Wyszukaj wolne sale</a></li>
                <li><a href="{% url 'search_groups' %}">Wyszukaj grupy</a></li>
            </ul>
          </li>

          <li>
              <a href="{% url 'my_reservations' %}">Rezerwacja</a>
              <ul class="submenu">
                  <li><a href="{% url 'new_meeting' %}">Złóż wniosek o spotkanie</a></li>
                  <li><a href="{% url 'new_event' %}">Złóż wniosek o wydarzenie</a></li>
                  <li><a href="{% url 'create_event_with_meetings' %}">Złóż wniosek o wydarzenie ze spotkaniami</a></li>
                  <li><a href="{% url 'my_excel_import' %}">Importuj spotkania z Excel</a></li>
              </ul>
          </li>

          <li>
            <a href="{% url 'my_groups' %}">Grupy</a>
            <ul class="submenu">
              <li><a href="{% url 'my_groups' %}">Moje grupy</a></li>
              <li><a href="{% url 'create_group' %}">Stwórz nową grupę</a></li>
              <li><a href="{% url 'notes_list' %}">To-Do</a></li>
            </ul>
        </li>

          <li>
              <a href="{% url 'my_profile' %}">Profil</a>
              <ul class="submenu">
                <li><a href="{% url 'my_profile' %}">Mój profil</a></li>
                <li><a href="{% url 'my_reservations' %}">Moje rezerwacje</a></li>
                <li><a href="{% url 'account_password_change' %}">Reset hasła</a></li>
                <li><a href="{% url 'account_logout' %}">Wyloguj się</a></li>
              </ul>
          </li>

          <!-- Powiadomienia -->
          <li class="notification-dropdown">
            <a href="{% url 'notification_history' %}">Powiadomienia</a>
            <ul class="submenu">
              <li><a href="{% url 'notification_history' %}">Historia powiadomień</a></li>
              <li><a href="{% url 'message_history' %}">Historia wiadomości</a></li>
              <li><a href="{% url 'send_notification' %}">Wyślij wiadomość</a></li>
            </ul>
        </li>
    </nav>
  </div>
  {% else %}
  <div class="header-container">
    <div class="left">
      <div class="header-container logged">
        <nav>
          <ul>
            <li><a href="{% url 'home' %}">System rezerwacji UAM</a></li>
            <li><a href="{% url 'about' %}">O stronie</a></li>
        </nav>
      </div>
    </div>
    <div class="right">&nbsp</div>
  </div>
  {% endif %}
</header>
